body {
	margin: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	flex-direction: column;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.restart {
	background-color: #fff;
	border: none;
	font-size: 1em;
	font-family: inherit;
	padding: 0.5em 1em;
	outline: none;
	cursor: pointer;
	border-radius: 0.5em;
	background-color: #665f58;
	color: #fff;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 92%;
	max-width: 400px;
	margin-bottom: 1em;
}

.score {
	font-size: 2em;
	font-weight: bold;
}